@keyframes wave-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .wave-container {
    overflow: hidden;
    position: relative;
  }
  
  .wave {
    position: absolute;
    width: 200%;
    height: 100%;
  }
  