.ProblemMain {
  width: 80%;
  margin: auto;
}

.ProblemMainPaet {
  width: 90%;
  display: flex;
}

.ProblemImageSeaction {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProblemImage {
  width: 90%;
  transition: transform 0.3s ease;
  /* Smooth transition */
}

.ProblemTextSeacation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProblemTitle {
  color: #012055;
  font-size: 50px;
  font-weight: 700;
}

.ProblemText {
  color: #848484;
  font-size: 18px;
}

.ProblemButton {
  border: 2px solid #009EFF;
  border-radius: 6px;
  padding: 10px;
  width: 35%;
  color: black;
  font: 600;
  background-color: #fff;
}

.ProblemButton:hover {
  background-color: #009EFF;
  color: #fff;
}

.ProblemImage:hover {
  transform: scale(1.1);
}

@media screen and (max-width:1024px) {

  .ProblemTitle {
    font-size: 43px;
  }

  .ProblemButton {
    width: 45%;
  }

}

@media screen and (max-width:768px) {

  .ProblemMain {
    margin-bottom: 10px;
  }

  .ProblemTitle {
    font-size: 38px;
  }

  .ProblemButton {
    padding: 8px;
    font-size: 16px;
    width: 50%;
  }
}


@media screen and (max-width:426px) {

  .ProblemTitle {
    font-size: 33px;
  }

  .ProblemText {
    font-size: 15px;
  }

  .ProblemButton {
    padding: 9px;
    font-size: 12px;
    width: 65%;
  }

  .ProblemImageSeaction {
    width: 100%;
  }

}


@media screen and (max-width:376px) { 

  .ProblemTitle {
    font-size: 28px;
  }

}